In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect('demo.db')
c = conn.cursor()

In [10]:
c.execute("PRAGMA foreign_keys = ON")

In [11]:
c.execute("DROP TABLE IF EXISTS orders ")
c.execute("DROP TABLE IF EXISTS users")

In [12]:
c.execute("""
    CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER)

""")

In [16]:
c.execute("""
    CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    product TEXT NOT NULL,
    amount REAL,
    FOREIGN KEY (user_id) REFERENCES users(id)
    )
""")

In [17]:
users_data = [
    (1, 'Alice', 30),
    (2, 'Bob', 25),
    (3, 'Charlie', 35)
]
c.executemany("INSERT INTO users (id, name, age) VALUES (?, ?, ?)", users_data)
orders_data = [
    (1, 1, 'Laptop', 60000.00),
    (2, 1, 'Mouse', 2500.00),
    (3, 2, 'Keyboard', 4500.00),
    (4, 3, 'Monitor', 30000.00)
]
c.executemany("INSERT INTO orders (order_id, user_id, product, amount) VALUES (?, ?, ?, ?)", orders_data)
conn.commit()