In [26]:
import sqlite3

In [27]:
conn = sqlite3.connect('demo.db')
c = conn.cursor()

In [28]:
c.execute("PRAGMA foreign_keys = ON")

In [32]:
c.execute("DROP TABLE IF EXISTS orders ")
c.execute("DROP TABLE IF EXISTS users")

OperationalError: database is locked

In [33]:
c.execute("""
    CREATE TABLE IF NOT EXISTS users  (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER)

""")

In [34]:
c.execute("""
    CREATE TABLE IF NOT EXISTS orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    product TEXT NOT NULL,
    amount REAL,
    FOREIGN KEY (user_id) REFERENCES users(id)
    )
""")

In [35]:
users_data = [
    (1, 'Alice', 30),
    (2, 'Bob', 25),
    (3, 'Charlie', 35),
    (4, 'David', 28)
]
c.executemany("INSERT INTO users (id, name, age) VALUES (?, ?, ?)", users_data)
orders_data = [
    (1, 1, 'Laptop', 60000.00),
    (2, 1, 'Mouse', 2500.00),
    (3, 2, 'Keyboard', 4500.00),
    (4, 3, 'Monitor', 30000.00)
]
c.executemany("INSERT INTO orders (order_id, user_id, product, amount) VALUES (?, ?, ?, ?)", orders_data)
#conn.commit()

OperationalError: database is locked

In [8]:
c.execute("SELECT * FROM users;")
rows = c.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 30)
(2, 'Bob', 25)
(3, 'Charlie', 35)

In [9]:
c.execute("SELECT * FROM orders;")
rows = c.fetchall()
for row in rows:
    print(row)

(1, 1, 'Laptop', 60000.0)
(2, 1, 'Mouse', 2500.0)
(3, 2, 'Keyboard', 4500.0)
(4, 3, 'Monitor', 30000.0)

In [12]:
c.execute("""
    SELECT *
    FROM orders
    WHERE amount > 10000;
""")
rows = c.fetchall()
for row in rows:
    print(row)

(1, 1, 'Laptop', 60000.0)
(4, 3, 'Monitor', 30000.0)

In [13]:
c.execute("""
    SELECT *
    FROM orders
    ORDER BY order_id DESC LIMIT 2;
""")
rows = c.fetchall()
for row in rows:
    print(row)

(4, 3, 'Monitor', 30000.0)
(3, 2, 'Keyboard', 4500.0)

In [20]:
c.execute("""
    SELECT users.name, SUM(orders.amount)
    FROM orders
    JOIN users ON orders.user_id = users.id
    GROUP BY users.name;
""")
rows = c.fetchall()
for row in rows:
    print(row)

('Alice', 62500.0)
('Bob', 4500.0)
('Charlie', 30000.0)

JOINS combines rows from twpo or more tables based on a related column usually a typical primary key to foreign key relationship
1. inner join - returns records with matching keys in both tables
2. left join -  returns all users even those with no orders. If there is no match it will return null for other fields
3. cross join

In [21]:
#Inner Join
c.execute("""
    SELECT *
    FROM users
    INNER JOIN orders ON users.id = orders.user_id;
""")
rows = c.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 30, 1, 1, 'Laptop', 60000.0)
(1, 'Alice', 30, 2, 1, 'Mouse', 2500.0)
(2, 'Bob', 25, 3, 2, 'Keyboard', 4500.0)
(3, 'Charlie', 35, 4, 3, 'Monitor', 30000.0)

In [36]:
#Left Join
c.execute("""
    SELECT *
    FROM users
    LEFT JOIN orders ON users.id = orders.user_id;
""")
rows = c.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 30, 1, 1, 'Laptop', 60000.0)
(1, 'Alice', 30, 2, 1, 'Mouse', 2500.0)
(2, 'Bob', 25, 3, 2, 'Keyboard', 4500.0)
(3, 'Charlie', 35, 4, 3, 'Monitor', 30000.0)

In [37]:
#Cross Join
c.execute("""
    SELECT *
    FROM users
    CROSS JOIN orders;
""")
rows = c.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 30, 1, 1, 'Laptop', 60000.0)
(1, 'Alice', 30, 2, 1, 'Mouse', 2500.0)
(1, 'Alice', 30, 3, 2, 'Keyboard', 4500.0)
(1, 'Alice', 30, 4, 3, 'Monitor', 30000.0)
(2, 'Bob', 25, 1, 1, 'Laptop', 60000.0)
(2, 'Bob', 25, 2, 1, 'Mouse', 2500.0)
(2, 'Bob', 25, 3, 2, 'Keyboard', 4500.0)
(2, 'Bob', 25, 4, 3, 'Monitor', 30000.0)
(3, 'Charlie', 35, 1, 1, 'Laptop', 60000.0)
(3, 'Charlie', 35, 2, 1, 'Mouse', 2500.0)
(3, 'Charlie', 35, 3, 2, 'Keyboard', 4500.0)
(3, 'Charlie', 35, 4, 3, 'Monitor', 30000.0)

In [ ]:
#conn.close()